@font-face {
  font-family: 'Modern Era';
  src: url('../assets/fonts/ModernEra-Regular.otf');
}

@font-face {
  font-family: 'Bodoni Moda';
  src: url('../assets/fonts/BodoniModa-VariableFont_opsz_wght.ttf');
}

* {
  font-family: Modern Era;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 1.25em;
  color: #4A654E;
  stroke: #BFCEB1;
}

body {
  margin-top: 8px;
}

.content-test {
  min-height: 500px;
  justify-content: center;
  border: 1px solid #CCCCCC;
}