.App {
    text-align: center;
  }
  
  .maiora-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  


.MaioraMenu {
  display: table;
  margin: 0 auto;
}

.MaioraMenuList {
	list-style: none;
	padding: 20px;
}

.MaioraMenuListItem {
  display: inline;
  padding: 20px;
}

.MaioraHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.MaioraSubMenuBt {
  display: inherit;
}