/* Start of Detailed list article */
.maiora-article-list {
    padding-left: 5vw;
    padding-right: 5vw;
}

.maiora-list-title {
    font-size: 1.8vw;
}   

.maiora-list-ul {

}

.maiora-list-il {

}
