/* Start of Detailed list article */
.maiora-article-list {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.maiora-list-title {
    font-size: 2rem;
}   

.maiora-list-ul {

}

.maiora-list-il {

}
