/* Start of Detailed list article */
.maiora-article-list {
    padding: 1.5rem 2.5rem;
}

.maiora-list-title {
    font-size: 2rem;
}   

.maiora-list-ul {
    list-style: url('../assets/dot_green.svg');
}

.maiora-list-il {
    display: flex;
    font-family: Bodoni Moda;
    font-style: normal;
    font-weight: 500;
    
    line-height: 38px;
    letter-spacing: 0.15em;
    font-size: 1.5rem;
}

.maiora-list-il-text {
    margin-left: 1rem;
}
