/* Start of Question and answer type article */ 
.maiora-article-qa {
    background-color: #EFEAE4;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.maiora-qa-question {
    font-size: 1.8rem;
}

.maiora-qa-answer {
    margin-bottom: 0.5%;
}

.maiora-qa-button {
    margin-bottom: 0.5%;
    text-align: center;
}